html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url(images/backgroundimage.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 16px;
  font-size: 15px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.searchbar {
  display: flex;
  width: 100%;
}

.searchbar input[type="text"] {
  padding: 3px 15px;
  font-size: 1.5rem;
  border: none;
  border-radius: 14px 0 0 14px;
  background-color: rgb(246, 246, 246, 0.5);
  width: 40%;
}

.searchbar .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: rgba(246, 246, 246, 0.5);
  font-size: 25px;
  border: none;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
  width: 60px;
  box-sizing: border-box;
}

.search-icon img {
  max-width: 60%;
  height: auto;
}
/* Navbar END */

.today-forecast,
.hourly-forecast,
.daily-forecast {
  margin: 20px 5vw;
}

.today-forecast {
  display: flex;
}

.full-box {
  flex: 1;
  background: rgba(213, 237, 255, 0.5);
  padding: 35px;
  height: 20rem;
  border-radius: 14px;
}

#CurentCityName {
  margin: 0;
}

#CurentBox {
  flex: 1;
  display: flex;
  align-items: center;
}
#CurentIcon {
  height: 150px;
  width: 150px;
}

#CurentTemp {
  font-size: 50px;
}

#CurentWeather {
  font-size: 20px;
}

.small-boxes {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.small-box {
  background: rgba(213, 237, 255, 0.5);
  padding: 10px;
  margin: 5px;
  flex: 1 1 30%;
  border-radius: 14px;
  height: 150px;
  width: 2.8rem;
  text-align: center;
}

.hourly-forecast .long-box {
  display: flex;
  flex-wrap: wrap;
  background: rgba(213, 237, 255, 0.5);
  padding: 10px;
  border-radius: 14px;
}

.long-box {
  height: 200px;
}
.hour-box {
  padding: 10px;
  margin: 5px;
  flex: 1 1 7%;
  text-align: center;
  align-items: center;
}

.daily-forecast {
  display: flex;
  flex-wrap: wrap;
}

.large-box {
  flex: 1 1 6%;
  background: rgba(213, 237, 255, 0.5);
  padding: 20px;
  margin: 10px;
  border-radius: 14px;
  height: 220px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .today-forecast,
  .hourly-forecast,
  .daily-forecast {
    padding: 0px 5px;
  }

  .today-forecast {
    flex-direction: column;
  }

  .small-box {
    flex: 1 1 30%;
    height: 5.5rem;
  }

  .hourly-forecast .long-box {
    flex-direction: column;
  }

  .transparent-box {
    flex: 1 1 45%;
  }

  .daily-forecast {
    flex-direction: column;
  }
}

.HourTime {
  margin: 0;
  padding: 0;
}
.IconHourIcon {
  height: 120px;
}

.iconHourTemp {
  margin: 0;
  padding: 0;
}

#uvImg {
  height: 70px;
  margin-top: -10px;
}

#uvIndicator {
  margin-top: -5px;
}

#windImg {
  height: 70px;
  margin-top: -10px;
}

#windIndicator {
  margin-top: -5px;
}
